.navbar-divider {
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

body {
  background: linear-gradient(to right, #f5e2e4, #e7b8e1);
  padding-top: 200px;
}

.judul-home {
  font-family: "Lobster", cursive;
  font-size: 4rem;
}

.p-home {
  font-family: "poppins", sans-serif;
}

.navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.logochef {
  width: 10%;
}

.container {
  font-family: "lobster", cursive;
}

.navbar-home {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, #f5e2e4, #e7b8e1);
}

.navbar-home .navbar {
  padding-bottom: 0px;
}
