.navbar-divider {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
  }

  body {
    background: linear-gradient(to right, #f5e2e4, #e7b8e1);
  }

  h1 {
    font-family: 'Lobster', cursive;
  }

  p {
    font-family: 'poppins', sans-serif;
  }

  .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }