#menu {
  background-color: #f5f3e7;
  padding-top: 35px;
  padding-bottom: 50px;
  border-radius: 60px;
  padding-left: 135px;
  padding-right: 135px;
}

h1 {
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 35px;
}

.card {
  display: grid;
  margin: 2px;
}

img {
  width: 150px;
  height: 170px;
  padding: 2px;
}

a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}

.card-text {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
